#error {
    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#error-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#error-message h1, h4 {
    margin: 0px;
    text-align: center;
}

#error-message h1 {
    font-size: 44px;
    color: #ff5858;
}

#error-message h4 {
    font-size: 24px;
    color: #434343
}

#error .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-azul-piscina);
    color: var(--color-branco);
    font-weight: bold;
    width: 100%;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    border: none;
}

#error .btn:hover {
    background: var(--color-azul-piscina-hover);
    color: var(--color-branco);
}

/* Mobile */
@media (max-width: 767px) {
    #error {
        width: 340px;
    }

    #error-message h1 {
    font-size: 38px;
    color: #ff5858;
    }

    #error-message h4 {
        font-size: 20px;
        color: #434343
    }
}
