main {
    gap: 40px;
}

#result {
    width: 400px;
    gap: 24px;
}

#result img {
    height: 60px;
    width: auto;
}

#options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

#options label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

#options b {
    margin-top: 10px;
}

#block-qrcode {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    text-align: center;
}

#block-qrcode img,
#block-qrcode canvas {
    width: 300px !important;
    height: auto !important;
    max-height: 400px;
}

#block-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 600px;
    max-height: 340px;
    overflow: scroll;
}

#table-logs {
    width: 100%;
    border: 1px solid var(--color-cinza-medio);
    font-size: 16px;
}

#table-logs thead tr {
    background-color: var(--color-azul-piscina);
    color: var(--color-branco);
}

#table-logs th,
#table-logs td {
    padding: 12px;
    text-align: left;
    min-width: 85px;
}

#table-logs tbody tr:nth-child(even) {
    background-color: var(--color-cinza-claro);
    border: 1px solid var(--color-cinza-medio);
}

#table-logs tbody tr:nth-child(odd) {
    background-color: var(--color-branco);
}


/* Mobile */
@media (max-width: 767px) {
    #result {
        width: 340px;
    }

    #block-history {
    max-width: 100%;
    align-items: flex-start;
}
}