<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='assets/css/global/global.css') }}" rel="stylesheet">
    <!-- Favicon para tema claro -->
    <link rel="icon" href="{{ url_for('static', filename='assets/images/global/favicon-black.svg') }}" media="(prefers-color-scheme: light)">
    <!-- Favicon para tema escuro -->
    <link rel="icon" href="{{ url_for('static', filename='assets/images/global/favicon-white.svg') }}" media="(prefers-color-scheme: dark)">
    <!-- Espefico da página -->
    <link href="{{ url_for('static', filename='assets/css/pages/home.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='assets/js/pages/home/options.js') }}"></script>
    <title>Home</title>
</head>

<body>
    {% include 'header.html' %}


    <main>
        <section id="shorten">
            <a href="/">
                <img src="{{ url_for('static', filename='assets/images/global/logo.svg') }}" alt="logo">
            </a>
            <form action="/" method="post">
                <input type="text" name="url" placeholder="Digite a url" autocomplete="off" autofocus required>
                <div id="options">
                    <b>Opcionais:</b>
                    <label><input class="option" type="checkbox" name="select-custom-url">Personalizar URL</label>
                    <label class="hidden"><input class="option" type="checkbox" name="select-date">Definir data de expiração</label>
                </div>
                <input type="submit" value="Encurtar URL">
                <div id="custom-url-block" class="hidden">
                    <p>Defina o caminho personalizado</p>
                    <input type="text" name="custom-url" autocomplete="off" value="" maxlength="24" placeholder="Digite o caminho personalizado">
                    <div id="mensagens">
                        <div class="informativo hidden">Seu link personalizado ficará com o seguinte caminho:</div>
                        <div class="invalido hidden">Caminho do link é inválido: Deverá possuir entre 1 à 24 caracteres. Contendo apenas letras, números e hífens (separando palavras)</div>
                    </div>
                </div>
                <div id="date-block" class="hidden">
                    <p>Data de expiração</p>
                    <input type="date" name="date" placeholder="Digite a url" autocomplete="off">
                </div>
            </form>
        </section>
    </main>

    {% include 'footer.html' %}
</body>

</html>