<!DOCTYPE html>

<html lang="pt-br">

<head>
    {% include 'default-head.html' %}
    <!-- Espefico da página -->
    <link href="{{ url_for('static', filename='assets/css/pages/recuperar.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='assets/js/pages/recuperar/validar.js') }}"></script>
    <title>Recuperar</title>
</head>

<body>
    {% include 'header.html' %}


    <main>
        <section id="recover">
            <a href="/">
                <img src="{{ url_for('static', filename='assets/images/global/logo.svg') }}" alt="logo">
            </a>
            <form action="/recuperar" method="post">
                <input type="text" name="url" placeholder="Digite a url original" autocomplete="off" autofocus required>
                    <div class="alerta invalido hidden">A url digitada é inválida.</div>
                <input type="submit" value="Recuperar informações da url encurtada">
            </form>
        </section>
    </main>


    {% include 'footer.html' %}
</body>

</html>