<!DOCTYPE html>

<html lang="pt-br">

<head>
    {% include 'default-head.html' %}
    <!-- Espefico da página -->
    <link href="{{ url_for('static', filename='assets/css/pages/redirect.css') }}" rel="stylesheet">
    <title>Redirecionando...</title>
</head>

<body>
    {% include 'header.html' %}

    <main>
        <section id="redirect">
            <h1> Você está sendo redirecionado para outra página! </h1>
        </section>

        <!-- Script para capturar informações do navegador e redirecionar -->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const dados = {
                    url_id: "{{ url_id }}", // Passado pelo Flask
                    user_agent: navigator.userAgent,
                    largura_tela: window.screen.width,
                    altura_tela: window.screen.height,
                    idioma: navigator.language || navigator.userLanguage
                };

                // Envia os dados para o backend usando sendBeacon (POST)
                navigator.sendBeacon("/log", JSON.stringify(dados));

                // Redireciona para destino final
                window.location.href = "{{ url }}";
            })
        </script>
    </main>

    {% include 'footer.html' %}
</body>

</html>