<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='assets/css/global/global.css') }}" rel="stylesheet">
    <!-- Favicon para tema claro -->
    <link rel="icon" href="{{ url_for('static', filename='assets/images/global/favicon-black.svg') }}"
        media="(prefers-color-scheme: light)">
    <!-- Favicon para tema escuro -->
    <link rel="icon" href="{{ url_for('static', filename='assets/images/global/favicon-white.svg') }}"
        media="(prefers-color-scheme: dark)">
    <!-- Espefico da página -->
    <link href="{{ url_for('static', filename='assets/css/pages/resultado.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='assets/js/pages/resultados/copiar.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/pages/resultados/options.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcodejs/qrcode.min.js"></script>

    <title>Resultado</title>
</head>

<body>
    {% include 'header.html' %}


    <main class="grid">
        <section id="result">
            <a href="/">
                <img src="{{ url_for('static', filename='assets/images/global/logo.svg') }}" alt="logo">
            </a>
            <form>
                <input type="text" name="short_url" autocomplete="off" autofocus disabled="on" value="{{short_url}}">
                <input type="submit" value="Copiar">
                <p><b>{{clicks}}</b> acessos nesse link.</p>

            </form>
            <div id="options">
                <b>Opções extras:</b>
                <label><input class="option" type="checkbox" name="select-qrcode">Gerar QRcode</label>
                <label><input class="option" type="checkbox" name="select-history">Exibir histórico de acessos
                    avançado</label>
            </div>
        </section>
        <section id="block-qrcode" class="hidden">
            <b>QRcode</b>
            <div id="qrcode"></div>
        </section>
        <section id="block-history" class="hidden">
            <b>Histórico avançado:</b>
            <table id="table-logs">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Dispositivo</th>
                        <th>Altura da tela</th>
                        <th>Largura da tela</th>
                        <th>Idioma do navegador</th>
                        <!-- <th>Localidade</th> -->
                        <!-- <th>IP</th> -->
                        <!-- <th>User Agent</th> -->
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </section>
    </main>


    {% include 'footer.html' %}
</body>

</html>